<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.XyAndroid">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.XyAndroid.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <activity
            android:name=".event.EventDispatchActivity"
            android:label="@string/sdk_event_dispatch"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".media.video.VideoPlayerActivity"
            android:label="@string/sdk_media_player"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".view.ViewActivity"
            android:label="@string/sdk_view"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".view.edittext.EditTextActivity"
            android:label="@string/sdk_edit_text"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".view.webview.WebViewActivity"
            android:label="@string/sdk_web_view"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".bluetooth.BluetoothActivity"
            android:label="@string/sdk_web_view"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".storage.StorageActivity"
            android:label="@string/sdk_storage"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".activity.task.TaskEnterActivity"
            android:label="@string/sdk_task_enter_activity"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".activity.task.TaskSingleInstanceActivity"
            android:label="@string/sdk_task_single_instance_activity"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".activity.task.TaskSingleTaskActivity"
            android:label="@string/sdk_task_single_task_activity"
            android:launchMode="singleTask"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />

        <activity
            android:name=".activity.task.DocumentActivity"
            android:label="@string/sdk_document_activity"
            android:maxRecents="5"
            android:theme="@style/Theme.XyAndroid.NoActionBar" />
    </application>
</manifest>